html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body {
  background-image: url("./public/BG2.png");
  background-size: cover; /* Make the background cover the entire element */
  background-position: center; /* Center the background image */
  background-attachment: fixed; /* Keep the background fixed in place */
  background-repeat: no-repeat; /* Prevent the background from repeating */
}
html body .container {
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
html body .container .login-form {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0 1rem;
}
html body .container .login-form .title {
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 50px;
  color: white;
}
html body .container .login-form .input-container {
  margin: 0.5rem 0 0.5rem 0;
  width: auto;
  padding: 15px;
  outline: none;
  border: 1px solid #fff;
  font-size: 15px;
  border-radius: 45px;
  background: rgba(255, 255, 255, 0.168627451);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.2s ease;
}
html body .container .login-form .input-container input[type=email],
html body .container .login-form .input-container input[type=text] {
  width: 100%;
  padding: 5px 12px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: rgb(59, 59, 59);
}
html body .container .login-form .input-container input[type=email]:hover,
html body .container .login-form .input-container input[type=text]:hover,
html body .container .login-form .input-container input[type=email]:focus,
html body .container .login-form .input-container input[type=text]:focus {
  border: none;
  outline: none;
}
html body .container .login-form .input-container input[type=email]::-moz-placeholder, html body .container .login-form .input-container input[type=text]::-moz-placeholder {
  color: #414141;
}
html body .container .login-form .input-container input[type=email]::placeholder,
html body .container .login-form .input-container input[type=text]::placeholder {
  color: #414141;
}
html body .container .login-form .loginbtn {
  margin: 1rem 0 1rem 0;
  width: auto;
  padding: 15px;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 45px;
  background: #fff;
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.2s ease;
}
html body .container .login-form .or {
  display: flex;
  justify-content: center;
  color: white;
}
html body .container .login-form .forgotPass-RemmberMe-Container {
  display: flex;
  align-items: flex-start;
}
html body .container .login-form .forgotPass-RemmberMe-Container .item {
  margin: 0.1rem;
}
html body .container .login-form .forgotPass-RemmberMe-Container .item-1 {
  margin-top: 0.2rem;
  width: 1rem;
  height: 1rem;
}
html body .container .login-form .forgotPass-RemmberMe-Container .item-2 {
  color: white;
  margin-right: 10rem;
}
html body .container .login-form .forgotPass-RemmberMe-Container .item-3 {
  color: white;
  text-decoration: none;
}
html body .container .login-form .otherLogin-Container {
  display: flex;
  justify-content: center;
}
html body .container .login-form .otherLogin-Container a {
  padding: 0 10px 0 10px;
}
html body .container .login-form .otherLogin-Container a img {
  filter: invert(100%);
}/*# sourceMappingURL=style.css.map */