html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  body {
    background-image: url("./public/BG2.png");
    background-size: cover; /* Make the background cover the entire element */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Keep the background fixed in place */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    .container {
      width: auto;
      height:auto;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      border: 1px solid rgba(255, 255, 255, 0.3);

      .login-form {
        display: flex;
        flex-direction: column;
        margin: 0 1rem 0 1rem;
        .title {
          margin: auto;
          margin-top: 32px;
          margin-bottom: 32px;
          font-size: 50px;
          color: white;
        }
        .input-container {
          margin: .5rem 0 .5rem 0;
          width: auto;
          padding: 15px;
          outline: none;
          border: 1px solid #fff;
          font-size: 15px;
          border-radius: 45px;
          background: #ffffff2b;
          color: white;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          transition: all 0.2s ease;
          input[type="email"],
          input[type="text"] {
            width: 100%;
            padding: 5px 12px;
            text-decoration: none;
            background-color: transparent;
            border: none;
            color: rgb(59, 59, 59);
          }
          input[type="email"]:hover,
          input[type="text"]:hover,
          input[type="email"]:focus,
          input[type="text"]:focus {
            border: none;
            outline: none;
          }
          input[type="email"]::placeholder,
          input[type="text"]::placeholder {
            color: #414141;
          }
        }

        .loginbtn {
          margin: 1rem 0 1rem 0;
          width: auto;
          padding: 15px;
          outline: none;
          border: none;
          font-size: 20px;
          border-radius: 45px;
          background: #fff;
          color: rgb(0, 0, 0);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          transition: all 0.2s ease;
        }
        .or {
          display: flex;
          justify-content: center;
          color: white;
        }
        .forgotPass-RemmberMe-Container {
          display: flex;
          align-items: flex-start;
          .item {
            margin: 0.1rem;
            &-1 {
              margin-top: 0.2rem;
              width: 1rem;
              height: 1rem;
            }
            &-2 {
              color: white;
              margin-right: 10rem;
            }
            &-3 {
              color: white;
              text-decoration: none;
            }
          }
        }
        .otherLogin-Container {
          display: flex;
          justify-content: center;
          a {
            padding: 0 10px 0 10px;
            img {
              filter: invert(100%);
            }
          }
        }
      }
    }
  }
}
