html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  body {
    background-image: url("./public/BG.jpg");
    background-size: 100%;
    background-position: center -11rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    .container {
      width: 500px;
      height: 500px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      border: 1px solid rgba(255, 255, 255, 0.3);

      .login-form {
        display: flex;
        flex-direction: column;
        .title {
          margin: auto;
          margin-top: 32px;
          margin-bottom: 32px;
          font-size: 50px;
          color: white;
        }
        .input {
          margin: 1rem 3rem 1rem 3rem;
          width: auto;
          padding: 15px;
          outline: none;
          border: none;
          font-size: 15px;
          border-radius: 45px;
          background: #ffffff2b;
          color: white;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          transition: all 0.2s ease;
        }
        .loginbtn {
          margin: 1rem 3rem 1rem 3rem;
          width: auto;
          padding: 15px;
          outline: none;
          border: none;
          font-size: 20px;
          border-radius: 45px;
          background: #fff;
          color: rgb(0, 0, 0);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          transition: all 0.2s ease;
        }
      }
    }
  }
}
